
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
    padding: 20px;
    background-color: #000;
    width: 100%;
    z-index: 10;
    position: fixed;
    opacity: 0.9;
}
a{
    text-decoration: none;
}
#header .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
#header .nav-menu ul li{
    margin-left: 30px;
    font-size: 18px;
    position: relative;
}
#header .nav-menu ul li a{
    color: #fff;
    font-weight: 600;
}
#header .nav-menu ul li::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #E9204F;
    top: 100%;
    transition: .5s;
}
#header .nav-menu ul li:hover::before{
    width: 30px;
}
#header .nav-menu ul li:nth-child(1)::before{
    width: 20px;
}
#header .nav-menu ul li:last-child{
    color: #fff;
    cursor: pointer;
}
#header .nav-menu ul li:last-child::before{
    width: 0%;
}
/* Header is over */
.digital{
    background-color: black;
    padding-top: 100px;
    position: relative;
}
.digital .all-digital .digital-text{
    width: 40%;
    height: 400px;
    margin-top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.digital .all-digital .digital-text::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: #e9204f;
    margin-top: -50px;
}
.digital .all-digital .digital-text h1{
    color: #fff;
    font-size: 71px;
    margin-bottom: 15px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 80px;
}
.digital .all-digital .digital-img{
    width: 60%;
    height: 70%;
}
.digital .all-digital .digital-img img {
    width: 90%;
}
.digital .all-digital .digital-text a{
    border: solid #e9204f 2px;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    z-index: 1;
}
.digital .all-digital .digital-text a::before{
    content: '';
    width: 0%;
    height: 100%;
    background-color:#e9204f ;
    transition: 0.3s ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.digital .all-digital .digital-text a:hover::before{
    width: 100%;
}
/* all-digital is over */
.digital .digital-card{
    margin-top: -200px;
    position: relative;
    z-index: 2;
}
.digital .digital-card::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color:#e9204f ;
    top: 100%;
    left:  50%;
}
.digital .digital-card .card{
    background-color: #e9204f;
    height: 370px;
    margin: auto;
    margin-right: 20px;
    padding: 30px;
    transition: 0.5s ease;
    cursor: pointer;
}
.digital .digital-card .card .text{ 
    margin-top: 20px;
}
.digital .digital-card .card .text h1{
    font-size: 26px; 
    color: #fff;
    font-weight:700;
    position: relative;
    letter-spacing: -1px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.digital .digital-card .card .text h1::before{
    content: '';
    width: 50px;
    height: 1px;
    background-color: #e9204f;
    position: absolute;
    display: inline-block;
    top: 100%;
    margin-top: 8px;
    transition: 0.5s ease;
}
.digital .digital-card .one .text h1::before{
    background-color: #fff;
}
.digital .digital-card .card .text p{
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
}
.digital .digital-card .card .text i{
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.digital .digital-card .two .text i{
    color:#e9204f ;
}
.digital .digital-card .three .text i{
    color:#e9204f;
}
.digital .digital-card .two{
    background-color: #1B1B1B;
}
.digital .digital-card .three{
    background-color: #1B1B1B ;
    position: relative;  
}
.digital .digital-card .two:hover{
    background-color: #e9204f;
}
.digital .digital-card .two:hover .text i{
    color: #fff;
}
.digital .digital-card .two:hover h1::before{
    background-color: #fff ;
}
.digital .digital-card .three:hover{
    background-color: #e9204f;
}
.digital .digital-card .three:hover .text i{
    color: #fff;
}
.digital .digital-card .three:hover h1::before{
    background-color: #fff ;
}
.digital .digital-card .three::before{
    content: '';
    position: absolute;
    top: 85%;
    background-color:#e9204f ;
    width: 405px;
    height: 75px;
    left: 0%;
    z-index: -1;
}
/* digital-card is over */
/* digital is over */
.services{
    margin-top: 140px;
    position: relative;
}
.services .services-content{
    margin-top: 50px;  
}
.services .services-content::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    top: calc(100% + 80px);
    transform: translate(-50%, -50%);
    margin-left: 40%;
    background-color: #e9204f;
}
.services .services-text h1{
    font-size: 50px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    color: #101010;
}
.services .services-text h1::before{
    content: '';
    position: absolute;
    width: 40px;
    height:2px;
    background-color: #e9204f;
    top: -30px;
}
.services .services-text p{
    color: #e9204f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.services .services-content .services-card{
    padding: 20px 5px;
    background-color: #F3F3F3;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}
.services .services-content .services-card .left i{
    font-size: 70px;
    color: rgba(235, 225, 225, 0.705);
    transform: scale(0);
    transition: 0.2s ease;
    margin-left: -42px;
}
.services .services-content .services-card .middle h2{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -1px;
    transform: translateX(-93px);
    transition: 0.3s ease;
}
.services .services-content .services-card .right i{
    font-size: 30px;
    margin-top:10px;
    color: rgb(148, 148, 148);
    transition: 0.3s ease;
    transform: translateX(-5px);
}
.services .services-content .services-card:hover{
    background-color: #e9204f;
}
.services .services-content .services-card:hover .left i{
    transform:scale(1)
}
.services .services-content .services-card:hover .middle h2{
    transform: translateX(-40px);
    color: #fff;
}
.services .services-content .services-card:hover .right i{
    transform:translateX(5px);
    color: #fff;
}
/* services is over */
.works{
    margin-top: 250px;
}
.works .left h1{
    font-size: 50px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    color: #101010;
}
.works .left h1:before{
    content: '';
    position: absolute;
    width: 40px;
    height:2px;
    background-color: #e9204f;
    top: -30px;
}
.works .left p{
    color: #e9204f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.works .right .a{
    padding-top: 20px;
}
.works .right{
    margin-left: 50%;
}
.works .a a{
    font-weight: 700;
    color:#000;
    padding: 10px 25px;
    border: solid #e9204f 2px ;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
}
.works .a a:hover{
    color: white;
}
.works .a a::before{
    content: '';
    position: absolute;
    background-color:#e9204f ;
    width: 0%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
    transition: 0.3s ease;
}
.works .a a:hover::before{
    width: 100%;
}
/* works-text */
.works .work-content{
    position: relative;
}
.works .work-content::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 140px;
    width: 2px;
    height: 50px;
    background-color: #E9204F;
}
.works .work-content .work-card{
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-right: 10px;
}
.works .work-content .work-card img{
    filter: grayscale(2);
    transform:scale(1);
    transition: 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.works .work-content .work-card .overlay{
    position: absolute;
    width: 500px;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.719);
    transform: translateX(-11px);
    opacity: 0;
    visibility: hidden;
    transition:  0.3s ease;
}
.works .work-content .work-card .overlay .overlay-text{
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.works .work-content .work-card .overlay .overlay-text p{
    opacity: 0.8;
}
.works .work-content .work-card:hover .overlay{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}
.works .work-content .work-card:hover img{
    transform: scale(1.2);
    filter: grayscale(0);
}
/* work-content is over */
/* works is over */
.about{
    margin-top: 350px;
}
.about .about-text .left{
    width: 40%;
}
.about .about-text .right{
    width: 60%;
}
.about .about-text .left h1{
    font-size: 50px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    color: #101010; 
}
.about .about-text .left h1::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #E9204F;
    top: -40px;
}
.about .about-text .left p{
    color: #e9204f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.about .about-text .right p{
    padding-bottom: 38px;
    line-height: 25px;
    color: #747474;
    padding-right: 50px;
}
/* about-text is over */
.about .about-content{
    margin-top: 60px;
    
}
.about .about-content .left-box{
    width: 750px;
    height: 570.73px;
    
}
.about .about-content .card{
    position: relative;
}
.about .about-content .left-box .card{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about .about-content .left-box .card img{
    object-fit: cover;
    width: 850px;
    height: 100%;
}
.about .about-content .card .overlay{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.404);
    transition: 0.3s ease;
}
.about .about-content .left-box .card .overlay{
    height: 100%;
}
.about .about-content  .card .overlay-text{
    left: 25px;
    position: absolute;
    color: #fff;
}
.about .about-content .left-box .card .overlay-text{   
    top: calc(80% + 30px);
    
}
.about .about-content .card:hover img{
    filter: grayscale(0);
}
.about .about-content .right-box {
    width: 430px;
    height: 570.73px;
}
.about .about-content .right-box .card{
    width: 100%;
    height: 295px;
    padding-bottom: 20px;

}
.about .about-content .right-box .card .overlay{
    height: 275px;
}
.about .about-content .right-box .card .overlay .overlay-text{
    top: 70%;
}
.about .about-content .right-box .card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about .card img{
    filter: grayscale(1);
}
/* about-content is over */
.about .about-info{
    margin-top: 75px;
    position: relative;
}
.about .about-info .card{
    margin-right: 10px;
    line-height: 26px;
}
.about .about-info .card h1{
    padding-bottom: 40px;
}
.about .about-info .card p{
    padding-right: 50px;
    color:#7a7a7a ; 
    font-size: 17px;
} 
.about .about-info::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background-color:#E9204F ;
    top: 100%;
    left: 50%;
    margin-top: 100px;
}
/* about-info is over */
/* about is over */
.client{
    margin-top: 250px;
}
.client .client-text{
    position: relative;
}
.client .client-text .client-img{
    width: 40%;
}
.client .client-text .client-img::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 80px;
    top: 89%;
    left: calc(33% + 5px);
    background-color:#E9204F ;
    z-index: -1;
}
.client .client-text .client-info{
    width: 60%;
}
.client .client-text .client-info .client-info-text{
    margin-left: 70px;
    margin-top: 80px;
}
.client .client-text .client-info .client-info-text .h1-p{
    margin-left: 5px;
}
.client .client-text .client-info .client-info-text .h1-p h1{
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
}
.client .client-text .client-info .client-info-text .h1-p h1::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    top: -40px;
    left: 0%;
    background-color:#E9204F ;
}
.client .client-text .client-info .client-info-text .h1-p p{
    font-size: 18px;
    color: #E9204F;
    letter-spacing: -1px;
    font-weight: 600;
}
.client .client-text .client-info .client-info-text .h4-p p{
    padding-top: 5rem ;
    padding-bottom: 2rem;
    padding-right: 40px;
    color: #747474;
    line-height: 35px;
    font-size: 24px;
    letter-spacing: -1px;
}
.client .client-text .client-info .client-info-text .h4-p h4{
    padding-top: 5rem;
    letter-spacing: -1px;
    position: relative;
}
.client .client-text .client-info .client-info-text .h4-p h4::before{
    content: '';
    position: absolute;
    width: 34px;
    height: 1px;
    top: 40px;
    left: 0%;
    background-color:#c4c4c4 ;
}
/* client-text is over */
.client .company{
    margin-top: 150px;
    position: relative;
}
.client .company::before{
    content: '';
    position: absolute;
    top: -30px;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: #cccaca;
}
.client .company::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 60px;
    background-color: #e9204f;
    margin-top: 100px;
}
/* client-company is over */
/* client is over */
.blog{
    margin-top: 15rem;
}
.blog .news{
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 60px;
}
.blog .news h1{
    font-size: 51px;
   
}
.blog .news p{
    color: #e9204f;
    font-size: 17px;
    text-transform: uppercase;
}
/* blog-news is over */
.blog-content{
    margin-top: 50px;
    position: relative;
}
.blog-content::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 65px;
    top: 100%;
    left: 50%;
    background-color:#e9204f ;
    margin-top: 150px;  
}
.blog-content .blog-card {
    margin-top: 55px;
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-right: 10px;
}
.blog-content .blog-card:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}
.blog-content .blog-card:hover .overlay{
    transform: translateY(-40px);
    background-color: rgba(0, 0, 0, 0.623)
}
.blog-content .blog-card:hover .overlay .overlay-text i{
    visibility: visible;
    opacity: 1;
}
.blog-content .blog-card img{
    object-fit: cover ;
    height:100%;
    filter: grayscale(3);
    transition: 0.4s ease;
    
}
.blog-content .blog-card .overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.432);
    transform: translateY(0px);
    transition: 0.6s ease;
    overflow: hidden;
}
.blog-content .blog-card .overlay .overlay-text{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 79%;
    left: 50%;
    width: 100% ;
    transform: translate(-50%, -50%);
    line-height: 40px; 
}
.blog-content .blog-card .overlay .overlay-text h1{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.blog-content .blog-card .overlay .overlay-text p{
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
}
.blog-content .blog-card .overlay .overlay-text i{
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    font-size: 30px;
}
/* blog-content is over */
/* blog is over */
#footer .contact .contact-up{
    margin-top: 178px;
    padding: 115px 30px;
    background-color: #1B1B1B;
}
#footer .contact .contact-up .icons .icon{
   border: solid #e9204f 2px ;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   text-align: center;
   line-height: 48px;
   margin-left: 5px;
   transform: translateY(0);
   transition: 0.5s ease;
}
#footer .contact .contact-up .icons .icon i{
    font-size: 20px;
    padding: 10px;
    color: #fff;
    transition: 0.3s ease;
}
#footer .contact .contact-up .icons .icon:hover{
    transform: translateY(-15px);
}
#footer .contact .contact-up .icons .icon:hover i{
    color: #e9204f ;
}
#footer .contact .contact-up .middle-text h1{
    font-size: 48px;
    margin-right: 100px;
    margin-left: 120px;
    color: #fff;
}
#footer .contact .contact-up .button a{
    padding: 15px 40px;
    color: #fff;
    border: solid 2px #e9204f;
    font-weight: 800;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    user-select: none;
}
#footer .contact .contact-up .button a::before{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 100%;
    background-color: #e9204f;
    transition: 0.4s ease;
    z-index: -1;
}
#footer .contact .contact-up .button a:hover::before{
    width: 100%; 
}
/* contact-up is over */
#footer .contact .contact-middle {
    padding: 40px 60px ;
    background-color: rgb(22, 22, 22);
}
#footer .contact .contact-middle .text{
    text-align: center;
    color: #fff;
    line-height: 30px;
    transition: 0.4s  ease;
}
#footer .contact .contact-middle .text:hover{
    color: #e9204f;
}
#footer .contact .contact-middle .text h1{
    font-size: 20px;
    font-weight: 800;   
}
#footer .contact .contact-middle .text p{
    font-size: 20px;
}
/* contact-middle is over */
#footer .contact .contact-down{
    padding: 30px 30px;
    background-color: #000000;
}
#footer .contact .contact-down .left .text{
    color: white;
    font-weight: 100;
}
#footer .contact .contact-down .left .text span{
    color: rgba(206, 206, 206, 0.507);
    font-size: 14px;
}
#footer .contact .contact-down .left .text span i{
    font-size: 13px;
    padding: 0px 5px;
}
#footer .contact .contact-down .left .text span a{
    color: #fff;
}
#footer .contact .contact-down .right .text a{
    margin-left: 14px;
    color: #fff;
    font-weight: 200;
    position: relative;
    transition: 0.3s ease
}
#footer .contact .contact-down .right .text a::before{
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 0px;
    height: 2px;
    background-color:#e9204f ;
    margin-top: 3px;
    transition: 0.3s ease;
}
#footer .contact .contact-down .right .text a:hover{
    color:#e9204f ;
}
#footer .contact .contact-down .right .text a:hover::before{
    width: 60px;
}
/* contact-down is over */









